@media (max-width: 767px) {
	.buttonOk {
		width: 36vw;
		height: 5vh;
		font-size: 2rem;
	}
}

@media (min-width:768px) and (max-width:1199px) {
	.buttonOk {
		width: 35vw;
		height: 6vh;
		font-size: 3rem;
	}
}

@media (min-width: 1200px) {
	.buttonOk {
		width: 20vw;
		height: 7.2vh;
		font-size: 3rem;
	}
}

.buttonOk {
	background-color: #FFC618;
	border: solid 4px #0000cc;
	border-radius: 15px;
	margin-left: 10px;
	cursor: pointer;
	color: #0000cc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonOk:hover {
	background-color: #B4FF66;
	border: solid 3px #0000cc;
	color: #0000cc;
}

.buttonOk:active {
	background-color: #00ff11;
	border: solid 3px #0000cc;
	color: #0000cc;
}